.container {
   flex-wrap: wrap;
   width: 100%;

   /* จัดให้อยู่ตรงกลางตามแนวนอน */

   /* ใช้ flex-wrap สำหรับหน้าจอขนาดเล็ก */
}


.butt {
   background-color: #DBE2EF;
   border: 1px solid #6E6E6E;
   width: 200px;
   height: 240px;
   margin-top: 10 px;

}

.butt:hover{
   background-color: #a0e3d7;
}

.btn {
   display: grid;
   place-items: center;
   margin: 20px;
   float: none;

}

.btn i {
   grid-area: 1 / 1;
   margin-bottom: 3px;
   font-size: 40px;
}

#buttonn {
   font-weight: 600;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

#buttonn a button {
   font-weight: 700;
   text-transform: uppercase;
   color: #1a1c43;
}

.col-d-flex {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 90px;
}

.badge{
   width: 500px;
   height: 300px;
}

