
/* ------------nav animation------------ */
.nav_animation ul{
    /* background-color: rgb(177, 155, 230); */
    display: flex;
    width: 600px;
    border-radius: 5px;
    position: relative;
}

.nav_animation ul li{
    text-align: center;
    list-style: none;
    z-index: 2;
}

.report_nav_animation{
    width: 200px;
}

.history_nav_animation{
    width: 200px;
}

.suspend_nav_animation{
    width: 200px;
}

.nav_animation ul li a {
    font-size: 25px;
    text-decoration: none;
    color: rgb(26, 28, 67);
    padding: 15px 0px;
    display: block;
}

.slider_nav_animation{
    position: absolute;
    width: 0px;
    bottom: 0px;
    height: 5px;
    left: 0px;
    background-color: rgb(26, 28, 67);
    border-radius: 5px;
    z-index: 1;
    transition: 0.5s ease;
}

/* ------------search animation------------ */
.box{
    width: 400px;
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.3);
}
.box:hover input{
    width: 400px;
}

.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.box a .fas{
    color: #ffffff;
    font-size: 18px;
}

/* ------------img style------------ */
.img_style{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}
.img_style2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
}
/* ------------table style------------ */
#table-posts , #button_style {
    border-collapse: collapse;
    margin: 10px auto;
    width: 100%;
}

#table-posts thead tr  {
    color: #FFF;
    text-align: left;
    background-color: rgb(26, 28, 67);
    pointer-events: none;
}

#table-posts th, #table-posts td , #button_style{
    padding: 12px 15px;
}

#table-posts tbody tr:nth-of-type(2n) {
    background-color: #f5f5f5;
}

/* ------------popup Modal Box style------------ */



/* --------------it's select----------------------------- */
.styled-select {
    background-color: #DBE2EF;
    /* Background color */
    color: black;
    /* Text color */
    border: 1px solid #cccccc;
    border-radius: 9px;
    padding: 5px 15px;
 }

    /* switch */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 32px;
     }

     .switch input {
        opacity: 0;
        width: 0;
        height: 0;
     }

     .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
     }

     .slider:before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        left: 5px;
        bottom: 5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
     }

     input:checked+.slider {
        background-color: #2196F3;
     }

     input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
     }

     input:checked+.slider:before {
        -webkit-transform: translateX(24px);
        -ms-transform: translateX(24px);
        transform: translateX(24px);
     }

     /* Rounded sliders */
     .slider.round {
        border-radius: 34px;
     }

     .slider.round:before {
        border-radius: 50%;
     }
     tr:hover {
        cursor: pointer;
        background-color: #DBE2EF;
    }